Class Examples/WebServiceImp/src/conf/xml-resources/web-service-references/CalculatorWebService/wsdl/localhost_8080/WebService/CalculatorWebService/CalculatorWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="CalculatorWebService" targetNamespace="http://webService.sample/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webService.sample/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://webService.sample/" version="1.0" xmlns:tns="http://webService.sample/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="add" type="tns:add" />
<xs:element name="addResponse" type="tns:addResponse" />
<xs:element name="subtract" type="tns:subtract" />
<xs:element name="subtractResponse" type="tns:subtractResponse" />
<xs:complexType name="subtract">
<xs:sequence>
<xs:element name="num1" type="xs:double" />
<xs:element name="num2" type="xs:double" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="subtractResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="add">
<xs:sequence>
<xs:element name="num1" type="xs:double" />
<xs:element name="num2" type="xs:double" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="addResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" />
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="subtract">
    <wsdl:part element="tns:subtract" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addResponse">
    <wsdl:part element="tns:addResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="add">
    <wsdl:part element="tns:add" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="subtractResponse">
    <wsdl:part element="tns:subtractResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CalculatorWebService">
    <wsdl:operation name="subtract">
      <wsdl:input message="tns:subtract" name="subtract">
    </wsdl:input>
      <wsdl:output message="tns:subtractResponse" name="subtractResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="add">
      <wsdl:input message="tns:add" name="add">
    </wsdl:input>
      <wsdl:output message="tns:addResponse" name="addResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CalculatorWebServiceSoapBinding" type="tns:CalculatorWebService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="subtract">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="subtract">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="subtractResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="add">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="add">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="addResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalculatorWebService">
    <wsdl:port binding="tns:CalculatorWebServiceSoapBinding" name="CalculatorWebServicePort">
      <soap:address location="http://localhost:8080/WebService/CalculatorWebService/CalculatorWebService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>